{% extends "base_hub.html" %}
{% block title %}Roadmap{% endblock %}
{% block body %}{% endblock %}
{% block content %}

<div class="container">
    <br>
    <h1 style="color: #7371FC;">Roadmap</h1>
    <br>
    <div class="row">
        <div class="col-4">
            <div class="container" style="background-color: #7371FC; height: 60vh;">
                <br>
                <h1 style="color: #fff;">Q2 2021</h1>
                <br>
                <ul>
                    <li style="color: #fff;">
                        Favoriten festlegen (SH)&nbsp;<i class="fas fa-check"></i>
                    </li>
                    <br>
                    <li style="color: #fff;">
                        Einstellungen der Sprachsteuerung integrieren (SH)&nbsp;<i class="fas fa-check"></i>
                    </li>
                    <br>
                    <li style="color: #fff;">
                        Redirect URL's nach Abfragen verbessern (SH)&nbsp;<i class="fas fa-check"></i>
                    </li>
                    <br>
                    <li style="color: #fff;">
                        Lichtintensität ohne Button abschicken (SH)&nbsp;<i class="fas fa-check"></i>
                    </li>
                    <br>
                    <li style="color: #fff;">
                        404-Page (SH)&nbsp;<i class="fas fa-check"></i>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-4">
            <div class="container" style="background-color: #7371FC; height: 60vh;">
                <br>
                <h1 style="color: #fff;">Q3 2021</h1>
                <br>
                <li style="color: #fff;">
                    Setup (SH)
                </li>
                <br>
                <li style="color: #fff;">
                    New UI (SH)
                </li>
                <br>
                <li style="color: #fff;">
                    Voice Feedback (SH)
                </li>
                <br>
                <li style="color: #fff;">
                    Notes App
                </li>
                <br>
                <li style="color: #fff;">
                    Weather integration (SH)
                </li>
                <br>
            </div>
        </div>
        <div class="col-4">
            <div class="container" style="background-color: #7371FC; height: 60vh;">
                <br>
                <h1 style="color: #fff;">Q4 2021</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
